*{margin:0; padding: 0;
    box-sizing:border-box;
}

body{
    font-size: 14px;
    display: grid;
  
}

#topo{
    width: 100%;
    height: auto;
    background-color: #087c77;
    /* background-color:#dedede; */
}

#acessibilidade{
    width: 100%;
    height: auto;
    background-color:#087c77;
    margin: auto;

}

#atalhos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    list-style: none;
    padding-left: 1%;
}
#atalhos li{
    display: inline;
}
#atalhos li a {
    color:#000;
}
#atalhos li a:hover{
    color:#3e3e3e;
}
#pgacess{
    padding-left: 30%;
    /* padding-left: 50%;
    margin-right: auto;
    padding-left: 40%; */
}
#contraste, .fonte{
    padding-left: 5px;
}
#logo{
    width: 20%;
    height: auto;
    display: block;
    margin: auto;
    
   
}
/*barra de navegação*/
nav{
    width: 100%;
    min-height: none;
    background-color: #087c77;
    float: left;
    padding: 0px;
    background-image: none;
    background-position:top;
    background-clip:content-box;
}
#menu{
    list-style: none;
    float: left;
    background-color: #000;
    width: 100%;
    height: 27px;
    
    
}
#barra{
    position: relative;   
    
}
#menu li{
    list-style: none;
    position: relative;
    float: left;
    border-right: 1px solid #000;
}

#menu li a{
    font-family: arial, Helvetica, sans-serif;
    color:red;
    text-decoration: none;
    padding: 5px 10px;
    display:block;
    margin-left: 35px;
}


#menu li a:hover{
    background-color:#014b50;
    transition: 1s;
}

#menu li ul{
    position:absolute;
    top: 25px;
    left: 0;
    background-color:#000;
    display: none;
}

#menu li:hover ul, #menu li.over ul{
    display: block;
}

#menu li ul li{
    border: 1px solid #000;
    background-color:rgb(26, 194, 124);
    display: block; 
    width: 150px;
}
/*menu responsivo*/
label[for="bt_menu"]{
    display: none;
}
#bt_menu{
    display: none;

}

#conteudo{
    width: 100%;
    min-height: 900px;
    font-family: arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify;
    background-color:#fff;
    
}

#conteudo h1{
        text-align: center;
}

section{
    padding:0px;
    width:100px;
}
/*formulario de login*/
section, aqui{
    position: relative;
    font-family: "Open Sans";
    color :#fff;
    position:relative;
    width:100%;
    height: 100vh;
    background: url(imagem/login12.jpg);
    opacity: .0,5,3,5,2.5;
    background-size: cover;
    background-position:center center;
  
}

.form-container{
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:linear-gradient(rgba(1, 1, 8, 0.3)),(rgba(0,0,0,0.3));  /*sombra do login*/
width:380px;
padding: 50px 30px;
border-radius: 10px;
box-shadow:7px 7px 60px rgb(41, 39, 158);


}

h3{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    height:1.5em;
    border-radius: 10px;
    background:crimson;
    padding: 5px 3px;
    width:330px;
}

.control input{
    width: 100%;
    display:block;
    padding:10px;
    color:#222;
    border: none;
    outline: none;
    margin:1em 0;
  
    
    border-radius: 10px;
   
}


.bt input  [type="submit"]:hover{
background: crimson;

}

.control input,aqui  [type="submit"]:hover{
    background:#000;
    color:#fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .8;
    transition:opacity .3s ease;

}

.control input [type="submit"]:hover{
    
   
    opacity: 1;

}
.link{
    text-align: center;
    
}
.link a {
    text-decoration: none;
    color:#fff;
    opacity: .7;
    transition: opacity .3s ease;
    
    
}
.link a:hover{
    opacity: 1;
    /* background-color: crimson; */
}

/* Fim formulario login*/


 .principal{
    float:none;
    margin-left: none;
    background-color:rgb(160, 214, 12);
    display: inline-block;
    width: 100%;
    height:100;
    position:absolute;
    display: flex;
    background-position: center;
    bottom:auto;
    padding-top: 21px;
    

    
}

#div1{
   
    background-position: center; 
    background-color:rgb(192, 11, 11);
    padding-top: 2px;
    padding-bottom:10px;
    display: inline-block;
    display: flex;
    width: 35em;
    height: 45em;
    border-bottom: 1em;
    padding-top:1 ;
    margin-left:auto;
    border-radius: 1em;
    border-top: 1em;
    

}

#div2{
    background-position: center; 
    background-color:rgb(30, 70, 180);
    padding-top: 2px;
    padding-bottom:10px;
    display: inline-block;
    display: flex;
    width: 35em;
    height: 45em;
    border-bottom: 1em;
    padding-top:1 ;
    margin-left:auto;
    border-radius: 1em;
    border-top: 1em;
   
   
}
#div3{
    background-position: center; 
    background-color:rgb(192, 11, 11);
    padding-top: 2px;
    padding-bottom:10px;
    display: inline-block;
    display: flex;
    width: 35em;
    height: 45em;
    border-bottom: 1em;
    padding-top:1 ;
    margin-left:auto;
    border-radius: 1em;
    border-top: 1em; 
}

#imagem{
    width:40%;
    height:auto;
    
   
    
}

#video{
    width: 600px;
    height: 400px;
}   
iframe{
    width: 600px;
    height: 400px;
} 

#rodape{
    font-family: 'Big Shoulders Text', cursive;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: #000;
    background-color: #9b9999; 
    padding-top:1px;
    text-align: center;
    width: 100%; 
    height: 100%;
    display: flex;
    position:relative;
    padding: 1px; 
    
    
}

input, select{
    color: #000;
    background-color:#f3f3f3;
    width: 40%;
    height: 40px;
    border-radius: 15px;
    padding: 5px;
    margin-left: 5px;
} 

label, legend{
    font-weight :bold;
    font-size : 1.2em;
    margin-left : 5px;
}

fieldset{
    border-color: #500101;
    border-radius: 15px;
}

textarea{
    width: 40%;
    padding: 5px;
    margin-left: 5px;
}

input[type=submit]{
 width: 15%;
 height:40px;
 background-color: #b00000;
 color: #fff;
}

input[type=reset]{
    width: 15%;
    height:40px;
    background-color: #b00000;
    color: #fff;
}

.required:after {
    content: " *";
    color:red;
}
.breadcrumb{
    padding-left: 2%;
    list-style: none;
}
.breadcrumb li{
    display: inline;
    font-family: arial, Helvetica, sans-serif;
    font-size: 0.7em;
    color:#000;
}
.breadcrumb li a{
    color: #3e3e3e;
    text-decoration: none;
}
.breadcrumb li+li:before{
    content: "/\00a0" ;
    padding: 6px;
    color: #000;
}    
.breadcrumb li a:hover{
    color: #000;
    text-decoration: underline;
} 

/*media queries*/
/*media queries menu responsivo*/

@media screen and (max-width:630px){
    #menu{
        display:none;
    }
    label[for="bt_menu"]{
        display: block;
        
    }
    #bt_menu:checked ~ #menu{
        display: block;
        border: none;
    }
    #menu li{
        position: relative;
        float: left;
        width: 100%;
        border: none;
    }
    #menu li ul{
        position: static;
        float: left;
        width: 100;
        border: none;
    }
    #menu li ul li{
        position: relative;
        float: left;
        width: 100%;
        display:block;
        border: none;
    }
    /*media querie barra de acessibilidade*/
    
    @media screen and (max-width: 1440px){

        #pgacess{
            padding-left: 30%;
        }
        .contraste, .fonte{
            padding-left: 5px;
           
        }
    }
    @media screen and (max-width: 1280px){

        #pgacess{
            padding-left: 20%;
        }
        @media screen and (max-width: 1024px){

            #pgacess{
                padding-left: 10%;
            }
            
        }
        
    }
}
#mapa{
    margin-right: 8%;
    margin-top: 5px; 
    display:inline-block; 
    display: flex;
    width: 10%; 
    height: 80%; 
       
}
#cidades{
    list-style: none;
    width: 10%; 
    height: 80%; 
    /* margin-top: -2.5em;  
    display:inline-block;*/
     /* display: flex; */
    /*margin-right: 3%; 
    display:flex; 
    list-style: none;
    width: 25%; 
    float:none; */
}
#eventos{
    list-style: none;
    width: 1em; 
    height: 80%; 
    /*justify-content: space-around;
    align-items: center;
    /* margin-right: 90%; 
     margin-right: 3%;  
    margin-top: -2.5em;
    display:flex;
     justify-content:space-between; 
    display:inline-block;
    display: flex; 
     width: -1.5em;  
    display: inline-block; 
    float:none; */

}
#cidades{
    list-style: none;
    justify-content: space-around;
    width: 15%; 
    height: 80%; 
    
    
    /* margin-right: 78%; 
    margin-top: -2.5em;
    
    justify-content: space-between; 
    display:inline-block;
    display: flex; */
    

}
#categorias{
    list-style: none;
    width: 10%; 
    height: 80%; 
   
    
    /* list-style: none;
    margin-right: 65%;
    margin-top: -2.5em;
    display:flex;
    /* justify-content: space-between; 
    display:inline-block;
    width: 1%; 
    float:right;
    padding-top: 10px; */
    
}
#seurole{
    width: 10%; 
    height: 80%; 
     
     list-style: none;

    
    /* margin-right: 15em;
    margin-top: -2.5em;
    display:flex;
    justify-content: start; 
    display:inline-block;
    width: 25%;  */ 
    
}
#ajuda{
    list-style: none;
    width: 10%; 
    height: 80%; 
    /* list-style: none;
    margin-left: 50%;
    margin-top: -68%;
    /* text-align: justify; 
    display:flex;
    /* justify-content: space-between; 
    display:inline-block;
    width: 10%;  */
    
}
#home{
    width: 10%; 
    height: 80%;
    /* margin-right: 9%;
    margin-top: -118px;
    display:inline-block;
    display: flex;
    width: 10%;   */
}
#faleconosco{
    width: 10%; 
    height: 80%;
    /* margin-left: 5%;
    margin-top: 1.5em;
    display:inline-block; */
}
#copyright{
    text-indent:9%;
    font-size: 0.8em;
    padding-top: 15%;
    text-align:justify;
    margin-left: 5em;
        right: 80em;
    
    /* margin-block-end: 50px; */
    /* text-align: center; */
   
    /* width: 50em; */
    /* height: 1em; */

     /*margin-left: 80%;
    margin-top: 1.5em; 
    display:flex;  */

    /* margin-top: 5px;  */
    /* display:inline-block;  */
    /* display: flex; */
   
   
}


/*FORMULARIO*/

#titulo{
    font-family: sans-serif;
    color:#FFF;
    margin-left: 7%;
    }
    
    #subtitulo {
        font-family: sans-serif;
        color: #380061;
        margin-left: 10%;
    }
    
    fieldset {
       border:0;
    
    }
    /* body{
        background-color: #f0f8ff; 
        font-family: sans-serif;
        font-size: 1em;
        color: #59429d;
        margin-left: 36%;
        margin-top: 2%;
        justify-content: center;
    } */
    
    input,select,textarea,button{
        border-radius: 5px;
    }
    
    .campo{
        margin-bottom: 1em;
    }
    
    .campo label{
        margin-bottom: 0,2em;
        color:#594294;
        display:block;
    }
    
    fieldset.grupo.campo{
        float: left;
        margin-right: 1em;
     
    }
    .campo input[type="text"], .campo input[type="email"],.campo select, .campo textarea{
        padding: 0,2em;
        border: 1px solid #594994;
        box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
        display:block;
       
    }
    
    .campo select option {
        padding-right: 1em;
    }
    
    .campo input:focus, .campo select:focus, .campo textarea:focus {
        background: #e0e0f8;
    }
    .botao{
        font-size:  1.2em;
        background: #59429d;
        border:0;
        margin-bottom: 1em;
        color:#ffffffff;
        padding: 0.2em 0.6em;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        position: absolute;
        top:90%;
        left:50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    
    .botao:houver{
        background: #ccbbff;
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
        box-shadow: none;
    }
    
    /* .botao,select {
        /* cursos: pointer; 
    } */
    #check{
        display:inline-block
    };